.loginbackimg {
  background-image: linear-gradient(
      0deg,
      rgba(0, 69, 97, 0.23),
      rgb(20, 18, 22)
    ),
    url("../../../public/assets/bg-1.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  width: auto !important;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
}

.group input {
  border: 0px solid #000 !important;
  color: #fff !important;
  height: 46px !important;
}
.edumain {
  font-family: Roboto, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  color: #fff;
}
.group input::placeholder {
  color: #fff !important;
}

.brand {
  font-size: 1.5rem;
}

.toggle-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: none;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .toggle-button {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    top: 90px;
  }

  .alink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-links.open {
    display: flex;
  }
}

.section1 {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sec1left {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.sec1right {
  width: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.section2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sec2cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sec2card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 100%;
  align-items: center;
  border: 1px solid black;
  padding: 50px 10px;
  text-align: center;
  border-radius: 15px;
}

.s1head {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0;
}

.s1para {
  font-size: 18px;
  font-weight: 400px;
}

.sechead {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.mainimg {
  width: 120%;
  height: 100%;
}

.sec3detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 30px;
  gap: 20px;
}

.s3,
.s4 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec3detail2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.s3left {
  width: 50%;
  padding: 50px;
  height: 100%;
}

.s3right {
  width: 50%;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strategy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.colcard {
  padding: 20px;
  text-align: justify;
}

.golden-text {
  font-weight: 700;
}

.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.s6left {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.s6right {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  padding: 20px;
  height: 100%;
}

.fmain {
  width: 100%;
  height: 100%;
}

.footer-02 .footer-heading {
  font-size: 19px;
  color: #ffffffe6;
  overflow: visible;
  margin-bottom: 20px;
}

.footer-02 {
  background: #131719;
}

.footer-02 .footer-heading .logo {
  color: #fff;
  text-transform: uppercase;
}

.footer-02 a {
  color: #bba387;
}

.footer-02 p {
  color: #ffffff4d;
}

.footer-02 .copyright {
  color: #fff6;
  font-size: 14px;
}

.footer-02 .list-unstyled li a {
  color: #fff6;
}

.footer-02 .list-unstyled li a:hover {
  color: #fff;
}

.footer-02 .list-unstyled a {
  color: #fff6;
}

.footer-02 .list-unstyled a:hover {
  color: #fff;
}

.footer-02 .subscribe {
  margin-top: -105px;
}

.footer-02 .subscribe-form {
  border-radius: 40px;
  background: #fff;
  padding: 3px;
  -webkit-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -12px 21px -15px #0000001a;
}

.footer-02 .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}

.footer-02 .subscribe-form .form-group input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: #0000004d !important;
  font-size: 16px;
  height: 56px;
  border-radius: 0;
}

.footer-02 .subscribe-form .form-group input::-webkit-input-placeholder {
  color: #0000004d !important;
}

.footer-02 .subscribe-form .form-group input::-moz-placeholder {
  color: #0000004d !important;
}

.footer-02 .subscribe-form .form-group input:-ms-input-placeholder {
  color: #0000004d !important;
}

.footer-02 .subscribe-form .form-group input:-moz-placeholder {
  color: #0000004d !important;
}

.footer-02 .subscribe-form .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer-02 .subscribe-form .form-group .submit {
  color: #fff !important;
  display: block;
  width: 150px;
  height: 56px;
  font-size: 14px;
  background: #bfa88e !important;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 40px;
}

.footer-02 .subscribe-form .form-group .submit:hover,
.footer-02 .subscribe-form .form-group .submit:focus {
  text-decoration: none !important;
  outline: none !important;
}

.footer-02 .partner-wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 1em 0;
}

.footer-02 .partner-wrap h3 {
  font-size: 14px;
  color: #fff6;
}

.footer-02 .partner-wrap .partner-name a {
  margin-right: 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff6;
}

.footer-02 .partner-wrap .partner-name a span {
  color: #fff;
}

.footer-02 .partner-wrap .btn-custom {
  font-size: 14px;
}

.footer-02 .border-left {
  border-color: #ffffff0d !important;
}

@media (max-width: 1199.98px) {
  .footer-02 .border-left {
    border: none;
  }
}

@media (max-width: 768px) {
  .r1 {
    width: 50%;
  }
}

.section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.card {
  width: 17em;
  height: 22.5em;
  background: hsla(173, 89%, 70%, 1);
  background: linear-gradient(
    90deg,
    hsla(173, 89%, 70%, 1) 0%,
    hsla(196, 68%, 38%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(173, 89%, 70%, 1) 0%,
    hsla(196, 68%, 38%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(173, 89%, 70%, 1) 0%,
    hsla(196, 68%, 38%, 1) 100%
  );
  transition: 1s ease-in-out;
  color: #131719;
  border-radius: 20px;
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
}

.card span {
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card .info {
  font-weight: 400;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.card .img {
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
  margin: auto;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card a {
  color: #fff;
  transition: 0.4s ease-in-out;
}

.card a:hover {
  color: red;
}

.card button:hover {
  background: red;
  color: #fff;
  cursor: pointer;
}

.extra {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.whyleft {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whyright {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.why2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  justify-content: space-evenly;
  align-items: center;
}

.vhead {
  text-align: center;
  font-weight: 700;
}

.vision {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -8px;
  align-items: center;
}

.visionpara {
  padding: 20px;
  text-align: justify;
}

.text {
  font-family: Manrope;
}

@media (max-width: 768px) {
  .mainimg {
    width: 100%;
  }

  .section1 {
    flex-direction: column-reverse;
  }

  .sec1left {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
  }

  .s1head {
    font-size: 40px;
  }

  .s1para {
    font-size: 16px;
    width: 100%;
  }

  .sec1right {
    width: 100%;
  }

  .sec2cards {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .section2 {
    flex-direction: column;
    padding: 0;
  }

  .sec2card {
    width: 80%;
  }

  .sechead {
    font-size: 30px;
  }

  .sec3detail,
  .sec3detail2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .s3left,
  .s3right {
    width: 90%;
    padding: 10px;
  }

  .strategy,
  .s6 {
    flex-direction: column;
  }

  .s6left,
  .s6right {
    width: 90%;
    padding: 10px;
  }

  .why,
  .why2 {
    flex-direction: column;
  }

  .whyleft,
  .whyright,
  .vision,
  .mission {
    width: 100%;
  }
}

.loginmain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
}

.loghead {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

.loginleft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logpara {
  font-size: 14px;
  color: #fff;
}

.form-container {
  width: 450px;
  border-radius: 0.75rem;
  background-color: #0000;
  padding: 2rem;
  color: #f3f4f6;
}

.group label {
  display: block;
  color: #fcfcfc;
  margin-bottom: 4px;
  font-weight: 600;
}

#link {
  color: #f3f4f6;
  text-decoration: none;
  font-size: 14px;
}

#link:hover {
  color: #fcd21c;
}

#sign {
  display: block;
  width: 100%;
  background-color: #fcd21c;
  padding: 0.75rem;
  text-align: center;
  color: #111827;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

#sign:hover {
  color: #fff;
  background-color: #e3bf1b;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #9ca3af;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

@media (max-width: 768px) {
  .loginmain {
    height: 100vh;
  }
}

@media (max-width: 455px) {
  .form-container {
    width: 100%;
  }
}
.group .error {
  color: #fff !important;
  font-size: 12px !important;
}
.ant-input {
  color: #fff !important;
}
.ant-input-number,
.ant-input-affix-wrapper {
  border-color: #f2eaea !important;
}
.group span[role="img"],
:where(.css-dev-only-do-not-override-mxhywb).ant-input-affix-wrapper
  > input.ant-input::placeholder {
  color: #fff !important;
}
.group input {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.group input[type="tel"] {
  font-size: 14px;
  height: 34px !important;
  color: #fff !important;
}
.group input[type="tel"]::placeholder {
  color: #fff !important;
}
.group input::placeholder {
  color: #fff !important;
}
.group .PhoneInput {
  border: 2px solid #fff !important;
  border-radius: 8px;
}
.signupmain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 69, 97, 0.314), rgb(0, 0, 0));
  background-position: center;
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
}

.form-container2 {
  width: 450px;
  border-radius: 0.75rem;
  background-color: #0000;
  padding: 2rem;
  color: #f3f4f6;
}

.title {
  text-align: center;
  font-size: calc(1.34375rem + 1.125vw);
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: #9ca3af;
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: #111827;
  padding: 0.75rem 1rem;
  color: #f3f4f6;
}

.input-group input:focus {
  border-color: #a78bfa;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #9ca3af;
  margin: 8px 0 14px;
}

.forgot a,
.signup a {
  color: #f3f4f6;
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: none;
  color: #fcd21c;
}

.sign {
  display: block;
  width: 100%;
  background-color: #fcd21c;
  padding: 0.75rem;
  text-align: center;
  color: #111827;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.sign:hover {
  color: #fff;
  background-color: #e3bf1b;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: #fcd21c;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #9ca3af;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: start;
  flex-direction: column;
  position: relative;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0.75rem 1rem;
  border: 3px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f411;
  color: #fff;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: #fcd21c;
  background-color: #ffffff26;
  box-shadow: 0 0 0 4px #ea4c891a;
}

@media (max-width: 455px) {
  .form-container2 {
    width: 100%;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
