.site-layout-content {
  min-height: 280px;
  padding: 24px;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-modal-root .ant-modal-wrap {
  top: 0px !important;
}
.menu {
  background: linear-gradient(
    rgb(129, 110, 255) 0%,
    rgb(41, 82, 187) 100%
  ) !important;
}
.ant-menu-item-icon {
  color: #31a872 !important;
}
.ant-menu-title-content {
  color: #1e1e1e !important;
}
.ant-dropdown-menu {
  background: red !important;
}
.Username {
  background: transparent;
  color: #fff;
  border: 1px solid #31a872;
  border-radius: 8px;
  padding: 10px 12px;
}
.bg-dark {
  background: #1e1e1e !important;
}
@media screen and (max-width: 992px) {
  .menu {
    display: none;
  }
  .ant-dropdown-menu,
  .bg-dark {
    background: #1e1e1e !important;
  }
}
.navbar-collapse {
  width: 100%;
}
.navbar-nav {
  width: 100% !important;
  display: flex !important;
  justify-content: space-around !important;
}
.dropdown-menu {
  background: #0a0a0a !important;
  > a {
    color: #fff;
  }
}
.Boxcard {
  background: #ffffff;
  border-radius: 11px;
  border: 2px solid #31a872;
  justify-content: space-around !important;
  z-index: -1;
}
.manage-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: max-content;
  margin: auto;
  margin-bottom: 32px;
  > svg {
    margin-top: 16px;
  }
  .manage-h {
    font-size: 32px;
    font-weight: 700;
  }
}
.manage-grid-1 {
  overflow: hidden;
  grid-column: 1/2;
  border-radius: 16px;
  background: #fff;
  box-shadow: 24px 24px 48px 0 rgba(0, 0, 0, 0.08);
}
.manage-grid-head {
  border-bottom: 1px solid #bababa;
  background: #31a872;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
}

.manage-circle-flex {
  display: flex;
  align-items: center;
  gap: 24px;
}
.manage-icon {
  display: flex;
  gap: 24px;
}
.manage-head-circle {
  padding: 16px;
  border-radius: 100px;
  background: #fdb034;
}
.manage-three {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px 8px;
}
.manage-three-para-upper {
  font-size: 19px;
  font-weight: 600;
  text-align: center;
}
.manage-three-para-lower {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.manage-grid-2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 14px;
}
@media only screen and (max-width: 600px) {
  .manage-flex {
    flex-direction: column !important;
    .manage-h,
    .service-h {
      font-size: 20px !important;
      font-weight: 700 !important;
    }
  }
  .service-h {
    font-size: 20px !important;
    font-weight: 700 !important;
  }
}

.service-circle {
  padding: 16px;
  border-radius: 100px;
  background: rgba(130, 136, 14, 0.08);
  width: max-content;
  margin: auto;
  margin-bottom: 16px;
}
.service-h {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 16px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
@media (max-width: 992px) {
  .navbar-nav {
    height: 580px !important;
    overflow-y: scroll !important;
  }
  label,
  input,
  p,
  span,
  b,
  div,
  li,
  button,
  select,
  a {
    font-family: "Poppins", sans-serif !important;
    font-size: 18px !important;
  }
  .manage-three-para-upper {
    font-family: "Poppins", sans-serif !important;
    font-size: 20px !important;
  }
}
@media (min-width: 992px) {
  .Username {
    color: #000 !important;
  }
}
