.Withdrawalbox {
  background: #31A872;
  border-radius: 7px;
  color: #fff;
}
.Withdrawalboxp {
  background: #31A872;
  border-radius: 7px;
  color: #fff;
}
.img-div1 {
  width: 15%;
}
.img-div2 {
  width: 85%;
}
.img-div11 {
  width: 30%;
}
.img-div22 {
  width: 70%;
}
@media screen and (max-width: 1080px) {
  .img-div11 {
    width: 40%;
  }
  .img-div22 {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .img-div1 {
    width: 100%;
    padding: 15px 0px;
  }
  .img-div2 {
    width: 100%;
    text-align: justify;
  }
  .img-div11 {
    width: 50%;
  }
  .img-div22 {
    width: 50%;
  }
}

input::placeholder {
  background: transparent;
  color: #171515 !important;
  font-weight: 500 !important;
}
.ant-input {
  background-color: transparent !important;
  text-align: left;
  font-weight: 500 !important;
  height: 55px !important;
  color: #000 !important;
  border: 1px solid #171515;
  border-radius: 9px !important;
}
.ant-select-selector {
  height: 59px !important;
}
